doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title KGL Manager Dashboard - Matugga
    link(rel='stylesheet' href='/css/manager-dashboard.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')  

  body
    nav.navbar
      ul
          li
            a(href='/managerMaganjoDash') Back to Dashboard
        
    .dashboard-container
      header
        h1 Manager's Dashboard - KGL Matugga

      section#product-sales
        h2 Total Sales per Product (All Branches)
        table
          thead
            tr
              th Product
              th Total Quantity Sold (kg)
              th Total Sales Amount (UGX)
          tbody
          if products.length
            each product in products 
              tr
                td #{product.produceName}
                td #{ product.tonnage.toLocaleString()}
                td #{product.sellPrice * product.tonnage.toLocaleString()}

    script.
      window.onload = function() {
        const product = #{JSON.stringify(product)};
        
        // Example if needed to use chart.js or any other JS functionality
        // if (productSalesAgg.length) {
        //   console.log(productSalesAgg); 
        // }
      };
