/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-size: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #3498db;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

#total-sales-container,
#credit-sales-container,
#branch-sales-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.branch {
    margin-top: 20px;
    padding: 15px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

.branch h3 {
    color: #34495e;
    margin-bottom: 10px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Logout Button Styling */
/* Flex container for navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color:#2c3e50 ;
  }
  
  /* Remove default UL styling */
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Ensure logout button is styled and spaced */
  #logout-button {
    background-color: #e72e1a;
    padding: 10px 20px;
    color: rgb(70, 70, 85);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  

/* Media Query for smaller devices */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }
}
