
body {
    background-color: #4c647c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.login-container {
    background: #4c647c;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    box-shadow: #4c647c;
}
.input-group-text {
    cursor: pointer;
}


 